.carousel{
    width: 95%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 55px;
    height: 100%;
    /*position: relative;
    overflow: hidden;*/
    /*background-color: #000;*/
}

.carousel2{
  width: 95%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 55px;
  height: 100%;
  /*position: relative;
  overflow: hidden;*/
  /*background-color: #000;*/
}

#img2{
  max-height: 300px;
  height: 340px;
  width: 95%;
  max-width: 350px;
  margin: 25px auto;
  border-radius: 15px;
  box-shadow: 1px 2px 4px #1da1f2;
}

.img2{
  max-height: 350px;
}

/*hola red … soy un desarrollador de software, en este momento estoy en busqueda laboral activos, tengo experiencia en frontend y backend participando en proyectos mediana y gran escal, tengo conocimiento en …., en este momento me encuentro buscando una oportunidad laboral en remoto…, comparto mi email y numero personal para contacto ante cualquier oportunidad.

#desarrollador #opentowork #tecnologia #frontend



const initialFormState = {
  nombreCompleto: "",
  edad: "",
  cedula: "",
  dirección:"",
  email: "",
  usarioDeRedes: "",
  Apoyo: "",
};







*/


