.carousel{
    width: 95%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 55px;
    height: 100%;
    /*position: relative;
    overflow: hidden;*/
    /*background-color: #000;*/
}

/*.carousel > button:nth-child(2), .carousel > button:nth-child(3) {
   background: rgba(0, 0, 0, 0.6);
}

.carousel > button:nth-child(2):active, .carousel > button:nth-child(3):active {
  background: rgba(0, 0, 0, 0.9);
}

.carousel > button:nth-child(2):hover, .carousel > button:nth-child(3):hover {
  background: rgba(0, 0, 0, 0.6);
  transform: scale(1.1);
}*/